[Unit]
Description=YOLOv8n ONNX Person Detection (detect2.py)
After=network.target

[Service]
Type=simple
ExecStart=/home/nicholas/yolo-env/bin/python3  /home/nicholas/detect2.py
Restart=always
RestartSec=2
User=nicholas
WorkingDirectory=/home/nicholas/

[Install]
WantedBy=multi-user.target
